<div>
    <input placeholder="szukaj..." 
           style="min-width: 0;"
           ng-on-input="$ctrl.onInputHandler()"
           ng-focus="$ctrl.onFocusHandler()"
           ng-blur="$ctrl.onBlurHandler()"
           ng-keydown="$ctrl.onKeydownHandler($event)"
           type="search" 
           ng-model="$ctrl.value">
    <button ng-click="$ctrl.onSearchHandler()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </button>
</div>

<div style="text-align: center;">
    <div ng-hide="!$ctrl.isListVisible">
        <img ng-show="$ctrl.isLoading" 
             style="margin-left: -44px"  
             height="10"  
             src="/icons/three-dots.svg">
            <lazy-list items="$ctrl.items"
                       ng-ref="$ctrl.lazyList"
                       ng-class="{'fade': $ctrl.isLoading}"
                       selected-index="$ctrl.selectedIndex"
                       ng-hide="!$ctrl.value">
                <ng-overflow ng-init="item = $parent.item" 
                             class="list-entry" 
                             ng-click="$ctrl.isListVisible = false">
                    <ng-transclude />
                </ng-overflow>
            </lazy-list>
    </div>
</div>
