<img draggable="false"
     ng-src="{{advertPreviewCtrl.promoImage}}" 
     width="100%" 
     height="100%">  
<ng-include style="position: absolute; top: 0; width: 100%; height: 100%;" src="advertPreviewCtrl.view"></ng-include>



<!-- <img draggable="false" ng-src="{{::advert.images[0].name}}" width="100%" height="100%" ng-click="$parent.currentAdvertisment = advert">  
<ng-include style="position: absolute; top: 0; width: 100%; height: 100%;" src="view"></ng-include> -->




<!-- <div ng-include="view" style="position: absolute; height: 100%; width: 100%;"></div> -->
<!-- <button ng-class="getClass(buttons.left)" 
        ng-click="leftButtonClicked() || (edit = !edit)"></button>
<button ng-class="getClass(buttons.right)"  
        ng-click="rightButtonClicked() || (remove = !remove)"></button>
<p>12 Grudnia 2018 12:39</p> -->
