@import "./homePage/homePage.css";
@import "./manageAdvertisments/manageAdvertisments.css";
@import "./manageAccount/manageAccount.css";
@import "./shared/shared.css";
@import "./ogloszenia/ogloszenia.css";
@import "./navbar.css";


:root{
    --button-width: 100px;
    --padding-top: 50px;
    background: hsla(215, 15%, 22%, 0);
}

body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
}
body > div[ng-view]{
    min-height: calc(100vh - 50px);
    transition: transform  1.0s ease-in-out;
    transform-origin: 100% 50%;
}
body > div[ng-view].ng-enter.ng-enter-active
body > div[ng-view].ng-leave{
    transform: rotateY(0) skewY(0);
    opacity: 1;
}
body > div[ng-view].ng-enter,
body > div[ng-view].ng-leave.ng-leave-active{
    transform: rotateY(90deg) skewY(1deg);
    opacity: .10;
}
.visible{
    visibility: visible !important;
}

/* #region region .icon*/
.icon{
    display: flex;
    transition: box-shadow 200ms;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    align-items: center;}
    .icon:active{
        background: coral !important;
    }
    .icon:hover{
        background: rgb(240, 240, 240);
    }
    .icon::after{
        --size: 36px;
        transition: 200ms;
        background-color: black;
        -webkit-mask-size: contain !important;
        -webkit-mask-repeat: no-repeat;
        content: "";
        width: var(--size);
        height: var(--size);
        background-size: contain;
        background-position-y: 50%;
    }
    .icon:hover::after{
        background-color: white;
    }
    .icon::before{
        content: attr(content);
    }
    @media screen and (min-width: 500px){
        .icon::after{
            --size:32px;
            margin-right: 4px;
        }
        .icon.active,
        .icon:hover{
            box-shadow: inset 0 2px 0 0 coral;
        }
    }
    @media screen and (max-width: 500px){
        .icon{
            border-radius: 50%;
            justify-content: center;
            flex-direction: row;
        }
        .icon::before{
            display: none;
        }
    }
    @media screen and (min-width: 500px) and (max-width: 780px){
        .icon{
            flex-direction: column-reverse;
            font-size: 0.8em;
        }
    }
    @media screen and (min-width: 780px){
        .icon{
            padding: 0 4px;
            flex-direction: row-reverse;
        }
    }
/* #endregion */

/* #region hamburger */
button.hamburger{
    width: 30px;
    height: 30px;
    align-self: center;
    position: relative;
    z-index: 2;
    margin: 0 4px;
    -webkit-mask-image: url("/icons/hamburger.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    outline: none;
    transition: background 200ms ease-in;
    cursor: pointer;
    background-color: rgb(78, 78, 78);}
    button.hamburger:hover{
        background-color: hsl(0, 0%, 50%);
    }
    @media screen and (max-width: 500px){
        button.hamburger{
            display: none;
        }
    }
    @media screen and (min-width: 500px) and (max-width: 620px){
        button.hamburger{
            grid-column: 1;
        }
    }
    @media screen and (min-width: 620px){
        button.hamburger{
            order: -1;
        }
    }
    @media screen and (min-width: 1100px){
        button.hamburger{
            display: none;
        }
    }

#account::after{
   -webkit-mask-image: url("/icons/account.svg");
}

#add-advert::after{
    -webkit-mask-image: url("/icons/add.svg");
    background-color: rgb(138, 221, 138);
}



